html {
  position: relative;
  min-height: 100%;
  font-size: 62.5%
}

body {
  font-size: 1.6rem;
  font-family: 'Open Sans', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  /* Margin bottom by footer height */
  margin-bottom: 8.5rem;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4 {
  font-family: 'Montserrat', Arial, sans-serif;
  font-weight: 300;
  letter-spacing: -.1rem;
  color: #0096b2;
}

h1 {
  margin: 2rem 0 2.4rem 0;
  text-align: center;
}

h2 {
  margin: 1.8rem 0 2rem 0;
}

h5, h6, .nav, .bottom-nav {
  font-family: 'Montserrat', Arial, sans-serif;
  font-weight: 500;
  color: #0096b2;
}

h6 {
  font-size: 1.5rem;
  color: #333;
}

ul {
  list-style: none;
  margin: 0;
}

p {
  font-weight: 300;
  color: #333;
}

blockquote {
  font-weight: 400;
  font-style: italic;
  color: #777;
}

.quote-attribution {
  text-align: left;
  font-style: normal;
  display: block;
}

.navbar-default {
  margin-bottom: 0;
}

.full-width {
  width: 100%;
}

.top-bottom-pad {
  padding: 6rem 0;
}

.bottom-pad {
  padding: 0 0 6rem 0;
}

.menu-logo {
  width: 30px;
  height: 30px;
}

.main-content p,
address {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.6;
  margin: 0 0 1rem 0;
  color: #777;
}

.index-main-background {
  background: #000;
  background-image: url(/images/index-main-background.png), linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.25));
  background-position: center center !important;
  background-size: 100% !important;
  background-attachment: fixed !important;
  background-repeat: no-repeat;
  color: #fff;
}

.index-lede-1 {
  padding-top: 25vh;
  min-height: 100vh;
}

.index-lede-1 h1 {
  font-size: 5.5rem;
  font-weight: 100;
  margin-bottom: 2.5em;
}

.index-lede-1 h1,
.index-lede-1 p,
.index-lede-2 p {
  text-shadow: 0 0 1px rgba(0,0,0,0.5);
  color: white;
  text-align: center;
}

.index-lede-1 p,
.index-lede-2 p {
  font-size: 2.4rem;
  margin-bottom: 2.5em;
}

.index-lede-2 {
  margin-top: 3rem;
  padding-top: 0;
}

p.index-lede-question {
  font-weight: 400;
}

.light-grey-stripe {
  background-color: #f5f6f7;
}

.row {
}

.container {
  width: 100%;
  max-width: 980px;
}

.navbar-brand {
  padding: 1rem;
}

.navbar-nav {
  font-size: 1.6rem;
}

.navbar-inverse .navbar-nav li a {
  color: #cacaca;
}

.bold-dot {
  font-size: 3rem;
  font-weight: 600;
  line-height: 3.2rem;
}

.thoughts {
  font-style: italic;
}

.contribute-projects ul {
  list-style: circle;
  padding: 0 0 0 1.2rem;
}

.contribute-projects li {
  margin: 0;
}

.contribute-projects p {
  font-size: 1.6rem;
  color: #444;
}

.contribute-heading {
  text-align: left;
}

.center-heading {
  text-align: center;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 8.5rem;
  padding-top: 1rem;
  font-size: 1.4rem;
  color: #333;
}

.footer hr {
  margin: 1rem 0;
}

.footer ul {
  list-style: none;
  padding: 1rem 0;
}

.footer li {
  display: inline-block;
  padding: 0 2rem 0 0;
}

/* MailChimp Form Embed Code - Slim - 08/17/2011 */
#mc_embed_signup form {
  display: block;
  text-align: left;
  padding: 0 0 0 10em;
  margin: 0 0 1em 0;
}

#mc_embed_signup form p {
  text-align: left;
  padding: 0 0 0 8px;
  font-style: italic;
}

#mc_embed_signup h2 {font-weight:bold; padding:0; margin:15px 0; font-size:1.4em;}
#mc_embed_signup input {border:1px solid #999; -webkit-appearance:none; -moz-appearance:none;}
#mc_embed_signup input[type=checkbox]{-webkit-appearance:checkbox; -moz-appearance:none;}
#mc_embed_signup input[type=radio]{-webkit-appearance:radio; -moz-appearance:radio;}
#mc_embed_signup input:focus {border-color:#333;}
#mc_embed_signup .button {
  clear:both;

  background: #001a31;
  background: linear-gradient(#ff8373, #ff1e00);
  color: white;
  background-color: #aaa;
  border: 0 none;
  border-radius:4px;
  cursor: pointer;
  display: inline-block;
  font-size:15px;
  font-weight: bold;
  height: 32px;
  line-height: 32px;
  margin: 0 5px 10px 0;
  padding:0;
  text-align: center;
  text-decoration: none;
  vertical-align: top;
  white-space: nowrap;
  width: auto;
}

#mc_embed_signup .button:hover {background-color:#ff1e00;}

#mc_embed_signup .small-meta {font-size: 11px;}
#mc_embed_signup .nowrap {white-space:nowrap;}
#mc_embed_signup .clear {clear:none; display:inline;}

#mc_embed_signup label {display:block; font-size:16px; padding-bottom:10px; font-weight:bold;}
#mc_embed_signup input.email {display:inline; padding:8px 0; margin:0 1em 0; text-indent:5px; width:58%; min-width:130px;}
#mc_embed_signup input.button {display:inline; width:14em; margin: 0;}

#mc_embed_signup div#mce-responses {float:left; top:-1.4em; padding:0em .5em 0em .5em; overflow:hidden; width:90%;margin: 0 5%; clear: both;}
#mc_embed_signup div.response {margin:1em 0; padding:1em .5em .5em 0; font-weight:bold; float:left; top:-1.5em; z-index:1; width:80%;}
#mc_embed_signup #mce-error-response {display:none;}
#mc_embed_signup #mce-success-response {color:#529214; display:none;}
#mc_embed_signup label.error {display:block; float:none; width:auto; margin-left:1.05em; text-align:left; padding:.5em 0;}
