language: ruby
sudo: required
dist: trusty
rvm: 2.3.1
before_script:
- sudo apt-get update
- sudo apt-get install awscli
script: bundle exec jekyll build
branches:
  only:
  - master
  - "/^v\\d+\\./"
after_success:
- ./scripts/aws_credentials.sh
- aws s3 sync public/ s3://public-rubinius-com --delete
notifications:
  email: false
  irc:
    channels:
    - chat.freenode.net#rubinius
    template:
    - "%{repository}/%{branch} (%{commit} - %{author}): %{build_url}: %{message}"
  webhooks:
    urls:
      secure: H8yt+D9boWjHalkLQ1xqm8gZoRlVVqCcTS2fdEen5LpYf9afFv1a7lnuIK8XgYUn+OnKvwrsNIafDIl6DcZLiL491y7+MisFGTdD91yuRAc0J44tXXPdAVBCTqtOqof4trq67vQGm1L+iWS6ZqaXT/jSCmUA1AbxY0c/+UnM9h8=
    on_success: always
    on_failure: always
    on_start: always
env:
  global:
  - secure: O1roTjPX2hT8fGahkAhw8T5ZL1cg5tEqDH/rtIxbF9QK3uGxaCCMm/lCmHPr6ZuruAXymcmKSJ5YT8+kkcazwlv3AD7CRMH/VpYPrGNqE7II0rFHlP+6BsMs1jLFeV/HvyTH4Gdp06NB93y+/0HOXxqCPKFw68PftypxNSjjUo0=
  - secure: H7gU0K/7nkSDtARTKeBZlYxUXusNrFJ7Hg+jjzHtjSIqnDCMlKVjbkuItCGiRXVIdMDL0jYuoZfErziSp1bH7RRzvR4j5bB1YqX/GVfwJwjFJbMrC4rRCGt18mcvEpjWPcI3TLjb+OmaylyqSbAiCgIAHN/UJBqvn/Nnlu3nBcY=
